<ng-container>
    <div class="row desktop-header">
        <div class="col-md-6 text-container">
            <h5>Lahe veebileht</h5>
        </div>
        <div class="col-md-6 image-container">
            <img
                src="assets/images/pilt.jpg"
                class="d-inline-block align-top"
                alt="pilt"
            />
        </div>
    </div>
    <div *ngIf="events" class="row">
        <div class="col-md-6">
            <events-grid
                [title]="'Tulevased üritused'"
                [events]="futureEvents"
                [canDelete]="true"
                (onDeleted)="removeEvent($event)"
            ></events-grid>
        </div>
        <div class="col-md-6">
            <events-grid
                [title]="'Toimunud üritused'"
                [events]="pastEvents"
            ></events-grid>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="addEvent()">Lisa üritus</button>
        </div>
    </div>
</ng-container>
