.desktop-header {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .text-container {
        padding: 3.5rem;
        background-color: #3169CB;
    }

    .text-container h5 {
        color: #FFFFFF;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-left: 0;
    }

    .image-container img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}
