.desktop-header {
    margin-bottom: 3rem;

    .text-container {
        padding: 3.5rem;
        background-color: #3169CB;
    }

    .text-container h5 {
        color: #FFFFFF;
    }

    .image-container {
        padding-left: 0;
    }
}
