<div class="app-container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a ngPreserveWhitespaces class="navbar-brand" href="#">
                <img
                    src="assets/images/logo.svg"
                    height="50"
                    width="123"
                    class="d-inline-block align-top"
                    alt="logo"
                />
            </a>
        </div>
    </nav>

    <main class="app-content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
