<table *ngIf="events" class="table table-borderless">
    <thead>
        <tr>
            <th colspan="4">{{ title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{ event.name }}</td>
            <td>{{ event.startDate }}</td>
            <td>
                <button class="btn btn-link" (click)="openDetails(event.id)">Osavõtjad</button>
            </td>
            <td *ngIf="canDelete" (click)="deleteEvent(event.id)">
                <button class="btn btn-link">X</button>
            </td>
        </tr>
    </tbody>
</table>
