<div class="row justify-content-center">
    <div class="col-md-8">
        <form>
            <div *ngIf="showButtons" class="form-group mb-2">
                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="attendeeType"
                        id="person"
                        [checked]="attendeeType === 10"
                        (change)="changeAttendeeType(10)"
                    />
                    <label class="form-check-label" for="person">Eraisik</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="attendeeType"
                        id="company"
                        [checked]="attendeeType === 20"
                        (change)="changeAttendeeType(20)"
                    />
                    <label class="form-check-label" for="company"
                        >Ettevõte</label
                    >
                </div>
            </div>

            <ng-container *ngTemplateOutlet="attendeeType === 10 ? personForm : companyForm"></ng-container>

            <div class="form-group mb-2">
                <label for="paymentMethod">Maksmisviis:</label>
                <select
                    *ngIf="!!paymentMethods"
                    class="form-select"
                    [(ngModel)]="attendee.paymentMethod"
                    id="paymentMethod"
                    name="paymentMethod"
                >
                    <option value="" selected hidden></option>
                    <option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.name">
                        {{ paymentMethod.name }}
                    </option>
                </select>
            </div>

            <div class="form-group mb-2">
                <label for="notes">Lisainfo:</label>
                <textarea
                    [(ngModel)]="attendee.notes"
                    class="form-control"
                    id="notes"
                    name="notes"
                ></textarea>
            </div>

            <div class="d-flex justify-content-end mt-4 mb-5">
                <button type="submit" class="btn btn-primary" (click)="save()">
                    Salvesta
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #personForm>
    <div class="form-group mb-2">
        <label for="firstName">Eesnimi:</label>
        <input
            [(ngModel)]="attendee.name"
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
        />
    </div>
    <div class="form-group mb-2">
        <label for="lastName">Perenimi:</label>
        <input
            [(ngModel)]="attendee.lastName"
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
        />
    </div>
    <div class="form-group mb-2">
        <label for="personalCode">Isikukood:</label>
        <input
            [(ngModel)]="attendee.code"
            type="text"
            class="form-control"
            id="personalCode"
            name="personalCode"
        />
    </div>
</ng-template>

<ng-template #companyForm>
    <div class="form-group mb-2">
        <label for="companyName">Nimi:</label>
        <input
            [(ngModel)]="attendee.name"
            type="text"
            class="form-control"
            id="companyName"
            name="companyName"
        />
    </div>
    <div class="form-group mb-2">
        <label for="registerCode">Registrikood:</label>
        <input
            [(ngModel)]="attendee.code"
            type="text"
            class="form-control"
            id="registerCode"
            name="registerCode"
        />
    </div>
    <div class="form-group mb-2">
        <label for="participants">Osalejate arv:</label>
        <input
            [(ngModel)]="attendee.participants"
            type="number"
            class="form-control"
            id="participants"
            name="participants"
        />
    </div>
</ng-template>
