<div *ngIf="event" class="row justify-content-center">
    <div class="col-md-6">
        <div class="row mb-5">
            <div class="col-md-12">
                <h5>Osavõtjad</h5>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Ürituse nimi:</th>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <th>Toimumisaeg:</th>
                            <td>{{ event.startDate }}</td>
                        </tr>
                        <tr>
                            <th>Koht:</th>
                            <td>{{ event.address }}</td>
                        </tr>
                        <tr>
                            <th>Osavõtjad:</th>
                            <td>
                                <attendees-grid [attendees]="event.attendees" (onDeleted)="removeAttendee($event)"></attendees-grid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Osavõtjate lisamine</h5>
                <attendee-create-edit [showButtons]="true"></attendee-create-edit>
            </div>
        </div>
    </div>
</div>
