<sub-navbar [title]="'Osavõtjad'"></sub-navbar>
<div *ngIf="event" class="row">
    <div class="col-md-6">
        <div class="row mb-5">
            <div class="col-md-12">
                <h4 class="mb-5">Osavõtjad</h4>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Ürituse nimi:</th>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <th>Toimumisaeg:</th>
                            <td>{{ event.startDate }}</td>
                        </tr>
                        <tr>
                            <th>Koht:</th>
                            <td>{{ event.address }}</td>
                        </tr>
                        <tr>
                            <th>Osavõtjad:</th>
                            <td *ngIf="hasAttendees">
                                <attendees-grid
                                    [attendees]="event.attendees"
                                    (onDeleted)="removeAttendee($event)"
                                ></attendees-grid>
                            </td>
                            <td *ngIf="!hasAttendees">
                                &#8211;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!event.isPast" class="col-md-6">
        <h4 class="mb-5">Osavõtjate lisamine</h4>
        <attendee-create-edit
            [eventId]="event.id"
            [showButtons]="true"
            (onSave)="addAttendee($event)"
        ></attendee-create-edit>
    </div>
</div>
